<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>851089216049-1l5j754r01cvq21bf9ve8qpj7brs3tgo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.851089216049-1l5j754r01cvq21bf9ve8qpj7brs3tgo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>851089216049-9qnf7s8lhrkmk285djmc1licjm29bqne.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCnmnsPHhtxqWMxnZJyM6T-8Kfq4qy_8nw</string>
	<key>GCM_SENDER_ID</key>
	<string>851089216049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.maddalena.triplo</string>
	<key>PROJECT_ID</key>
	<string>fir-triplo</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-triplo.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851089216049:ios:06ed610512fda6545d7b10</string>
</dict>
</plist>